{% extends 'base.html' %}
{% block content %}

<section class="laser">
        <div class="privacy-container">
            <h1>О правилах предоставления платных медицинских услуг</h1>
            <div class="rules"><hr><br>
            В соответствии с <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=444218#l442">частью 7</a> статьи 84 Федерального закона "Об основах охраны здоровья граждан в Российской
            Федерации" и статьей 39.1 Закона Российской Федерации "О защите прав потребителей" Правительство Российской
            Федерации постановляет:<br>
<br>
            1.Утвердить прилагаемые:<br>
<br>
            Правила предоставления медицинскими организациями платных медицинских услуг;<br>
<br>
            изменения, которые вносятся в акты Правительства Российской Федерации.<br>
<br>
            2.Признать утратившим силу постановление Правительства Российской Федерации <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=204609#l0">от 4 октября 2012 г. N 1006</a>
            "Об утверждении Правил предоставления медицинскими организациями платных медицинских услуг"
            (Собрание законодательства Российской Федерации, 2012, N 41, ст. 5628).<br>
<br>
            3.Настоящее постановление вступает в силу с 1 сентября 2023 г. и действует до 1 сентября 2026 г.<br>
<br>
            <p><br>
            Председатель Правительства<br>
            Российской Федерации<br>
            М. МИШУСТИН<br>
<br>
            УТВЕРЖДЕНЫ<br>
            постановлением Правительства<br>
            Российской Федерации<br>
            от 11 мая 2023 г. N 736<br>
            </p><br><br><hr><br>
<br>
            ПРАВИЛА ПРЕДОСТАВЛЕНИЯ МЕДИЦИНСКИМИ ОРГАНИЗАЦИЯМИ ПЛАТНЫХ МЕДИЦИНСКИХ УСЛУГ<br>
            I. Общие положения<br>
            1.Настоящие Правила определяют порядок и условия предоставления медицинскими организациями
            гражданам платных медицинских услуг.<br>
<br>
            2.Для целей настоящих Правил используются следующие основные понятия:<br>
<br>
            "платные медицинские услуги" - медицинские услуги, предоставляемые на возмездной основе
            за счет личных средств граждан, средств работодателей и иных средств на основании договоров,
            в том числе договоров добровольного медицинского страхования (далее - договоры);<br>
<br>
            "заказчик" - физическое или юридическое лицо, имеющее намерение заказать или приобрести
            платные медицинские услуги либо заказывающее или приобретающее платные медицинские услуги
            в соответствии с договором в пользу потребителя;<br>
<br>
            "потребитель" - физическое лицо, имеющее намерение получить платные медицинские
            услуги либо получающее платные медицинские услуги лично в соответствии с договором.<br>
<br>
            Потребитель, получающий платные медицинские услуги, является пациентом, на которого распространяется
            действие Федерального <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=444218#l0">закона</a> "Об основах охраны здоровья граждан в Российской Федерации";<br>
<br>
            "исполнитель" - медицинская организация независимо от организационно-правовой формы, а также индивидуальный
            предприниматель, оказывающие платные медицинские услуги в соответствии с договором.<br>
<br>
            3.Понятие "потребитель" применяется также в значении, установленном <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=437678#l2">Законом</a> Российской Федерации
            "О защите прав потребителей". Понятие "медицинская организация" употребляется в значении, определенном
            Федеральным <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=444218#l0">законом</a> "Об основах охраны здоровья граждан в Российской Федерации".<br>
<br>
            4.Платные медицинские услуги предоставляются медицинскими организациями на основании лицензии
            на осуществление медицинской деятельности, предоставленной в порядке, установленном законодательством
            Российской Федерации о лицензировании отдельных видов деятельности.<br>
<br>
            5.Требования к платным медицинским услугам, в том числе к их объему и срокам предоставления,
            определяются по соглашению сторон договора, если федеральными законами или иными нормативными
            правовыми актами Российской Федерации не предусмотрены другие требования.<br>
<br>
            6.Настоящие Правила в наглядной и доступной форме доводятся исполнителем до сведения потребителя и (или)
            заказчика.<br>
<br>
            II. Условия предоставления платных медицинских услуг<br>
            7.При заключении договора потребителю и (или) заказчику предоставляется в доступной форме информация
            о возможности получения соответствующих видов и объемов медицинской помощи без взимания платы в рамках
            программы государственных гарантий бесплатного оказания гражданам медицинской помощи (далее - программа)
            и территориальной программы государственных гарантий бесплатного оказания гражданам медицинской помощи
            (далее - территориальная программа).<br>
<br>
            Отказ потребителя от заключения договора не может быть причиной уменьшения видов и объемов медицинской
            помощи, предоставляемых такому потребителю без взимания платы в рамках программы и территориальной программы.<br>
<br>
            8.Медицинские организации, участвующие в реализации программы и территориальной программы, имеют право
            оказывать платные медицинские услуги:<br>
<br>
            а)на иных условиях, чем предусмотрено программой, территориальными программами и (или) целевыми
            программами, в следующих случаях:<br>
<br>
            назначение и применение по медицинским показаниям лекарственных препаратов, не входящих в <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=446595#l17">перечень</a>
            жизненно необходимых и важнейших лекарственных препаратов, если их назначение и применение не обусловлены
            жизненными показаниями или заменой из-за индивидуальной непереносимости лекарственных препаратов, входящих
            в указанный перечень, а также не закупаемых за счет бюджетных ассигнований бюджетов всех уровней бюджетной
            системы Российской Федерации;<br>
<br>
            применение медицинских изделий, лечебного питания, в том числе специализированных продуктов лечебного
            питания, не закупаемых за счет бюджетных ассигнований бюджетов всех уровней бюджетной системы Российской
            Федерации и не подлежащих оплате в рамках программы и территориальной программы;<br>
<br>
            установление индивидуального поста медицинского наблюдения при оказании медицинской помощи в стационарных условиях при отсутствии медицинских показаний к установлению индивидуального поста медицинского наблюдения;<br>
<br>
            б)анонимно, за исключением случаев, предусмотренных законодательством Российской Федерации;<br>
<br>
            в)гражданам иностранных государств, лицам без гражданства, за исключением лиц, застрахованных по обязательному медицинскому страхованию, и гражданам Российской Федерации, не проживающим постоянно на ее территории и не являющимся застрахованными по обязательному медицинскому страхованию, если иное не предусмотрено международными договорами Российской Федерации;<br>
<br>
            г)при самостоятельном обращении за получением медицинских услуг, за исключением случаев и порядка, которые предусмотрены
            <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=444218#l1832">статьей 21</a> Федерального закона "Об основах охраны здоровья граждан в Российской Федерации", а также за исключением оказания медицинской помощи в экстренной форме.<br>
<br>
            9.Условия использования материально-технической базы и привлечения медицинских работников для оказания платных медицинских услуг, а также порядок определения цен (тарифов) на платные медицинские услуги, предоставляемые медицинскими организациями государственной системы здравоохранения и муниципальной системы здравоохранения, устанавливаются органами, осуществляющими функции и полномочия учредителей указанных медицинских организаций, а на услуги, предоставляемые медицинскими организациями частной системы здравоохранения, - руководителями указанных медицинских организаций, если иное не установлено их учредительными документами.<br>
<br>
            Оказание платных медицинских услуг медицинскими организациями независимо от организационно-правовой формы, а также индивидуальными предпринимателями, осуществляющими медицинскую деятельность, в случае участия их в реализации программы и территориальных программ, включающих в себя территориальные программы обязательного медицинского страхования, не должно приводить к снижению объемов и увеличению сроков ожидания оказания медицинской помощи, оказание которой осуществляется бесплатно в рамках программы и территориальных программ.<br>
<br>
            10.Медицинская помощь при предоставлении платных медицинских услуг организуется и оказывается:<br>
<br>
            а)в соответствии с положением об организации оказания медицинской помощи по видам медицинской помощи, которое утверждается Министерством здравоохранения Российской Федерации;<br>
<br>
            б)в соответствии с порядками оказания медицинской помощи, утверждаемыми Министерством здравоохранения Российской Федерации, обязательными для исполнения на территории Российской Федерации всеми медицинскими организациями;<br>
<br>
            в)на основе клинических рекомендаций;<br>
<br>
            г)с учетом стандартов медицинской помощи, утверждаемых Министерством здравоохранения Российской Федерации (далее - стандарт медицинской помощи).<br>
<br>
            11.Платные медицинские услуги должны соответствовать номенклатуре медицинских услуг, утверждаемой Министерством здравоохранения Российской Федерации, и могут предоставляться в полном объеме стандарта медицинской помощи либо в виде осуществления отдельных консультаций или медицинских вмешательств, а также в объеме, превышающем объем выполняемого стандарта медицинской помощи, по письменному согласию потребителя и (или) заказчика.<br>
<br>
            III. Информация об исполнителе и предоставляемых им платных медицинских услугах<br>
            12.Информация об исполнителе и предоставляемых им платных медицинских услугах доводится до сведения потребителей в соответствии со статьями
            <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=437678#l59">8 - 10</a> Закона Российской Федерации "О защите прав потребителей".<br>
<br>
            13.Исполнитель - юридическое лицо обязан предоставить потребителю и (или) заказчику следующую информацию:<br>
<br>
            а)адрес юридического лица в пределах места нахождения юридического лица (территориально обособленного структурного подразделения юридического лица), основной государственный регистрационный номер, идентификационный номер налогоплательщика;<br>
<br>
            б)адрес своего сайта в информационно-телекоммуникационной сети "Интернет" (далее - сеть "Интернет") (при его наличии);<br>
<br>
            в)информация о методах оказания медицинской помощи, связанных с ними рисках, видах медицинского вмешательства, их последствиях и ожидаемых результатах оказания медицинской помощи.<br>
<br>
            14.Исполнитель - индивидуальный предприниматель обязан предоставить потребителю и (или) заказчику следующую информацию:<br>
<br>
            а)основной государственный регистрационный номер;<br>
<br>
            б)фамилия, имя и отчество (при наличии);<br>
<br>
            в)адрес (адреса) места жительства и осуществления медицинской деятельности;<br>
<br>
            г)адрес своего сайта в сети "Интернет" (при его наличии);<br>
<br>
            д)методы оказания медицинской помощи, связанные с ними риски, виды медицинского вмешательства, их последствия и ожидаемые результаты оказания медицинской помощи.<br>
<br>
            15.Исполнитель представляет для ознакомления по требованию потребителя и (или) заказчика выписку из единого государственного реестра юридических лиц или единого государственного реестра индивидуальных предпринимателей.<br>
<br>
            16.Исполнителем в соответствии <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=437678#l842">со статьей 9</a> Закона Российской Федерации "О защите прав потребителей" должны быть предоставлены информация о лицензии на осуществление медицинской деятельности, ее номере, сроках действия, а также информация об органе, выдавшем указанную лицензию.<br>
<br>
            В случае временного приостановления деятельности медицинской организации для проведения санитарных, ремонтных и иных мероприятий исполнитель обязан информировать потребителей путем размещения информации на сайте медицинской организации либо в иной доступной форме о дате приостановления деятельности и времени, в течение которого деятельность медицинской организации будет приостановлена.<br>
<br>
            17.Помимо информации, предусмотренной пунктами 12 - 16 настоящих Правил, исполнитель обязан довести до сведения потребителя и (или) заказчика следующую информацию:<br>
<br>
            а)перечень платных медицинских услуг, соответствующих номенклатуре медицинских услуг, предусмотренной пунктом 11 настоящих Правил, с указанием цен в рублях;<br>
<br>
            б)сроки ожидания оказания медицинской помощи, оказание которой осуществляется бесплатно в соответствии с программой и территориальной программой, в случае участия исполнителя в реализации территориальной программы;<br>
<br>
            в)стандарты медицинской помощи и клинические рекомендации (при их наличии), с учетом и на основании которых (соответственно) оказываются медицинские услуги, путем размещения на сайте исполнителя (при наличии у исполнителя такого сайта) ссылок на "Официальный интернет-портал правовой информации" (www.pravo.gov.ru) и официальный сайт Министерства здравоохранения Российской Федерации, на котором размещен рубрикатор клинических рекомендаций, а также путем размещения указанных ссылок на информационных стендах;<br>
<br>
            г)сроки ожидания предоставления платных медицинских услуг;<br>
<br>
            д)сведения о медицинских работниках, участвующих в предоставлении платных медицинских услуг, об уровне их профессионального образования и квалификации;<br>
<br>
            е)график работы медицинских работников, участвующих в предоставлении платных медицинских услуг;<br>
<br>
            ж)образцы договоров;<br>
<br>
            з)перечень категорий потребителей, имеющих право на получение льгот, а также перечень льгот, предоставляемых при оказании платных медицинских услуг, в случае их установления учредителем медицинской организации государственной системы здравоохранения или муниципальной системы здравоохранения и (или) руководителем медицинской организации частной системы здравоохранения;<br>
<br>
            и)для медицинских организаций государственной системы здравоохранения или муниципальной системы здравоохранения - адреса и телефоны учредителя, исполнительного органа субъекта Российской Федерации в сфере охраны здоровья граждан, территориального органа Федеральной службы по надзору в сфере здравоохранения, территориального органа Федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека и территориального фонда обязательного медицинского страхования (далее - органы государственной власти и организации).<br>
<br>
            18.Информация, указанная в пунктах 12 - 16 настоящих Правил, доводится до сведения потребителей посредством размещения на сайте медицинской организации в сети "Интернет" (при наличии у медицинской организации такого сайта) и на информационных стендах (стойках) медицинской организации в наглядной и доступной форме.<br>
<br>
            Информация, размещенная на информационных стендах (стойках), должна быть доступна неограниченному кругу лиц в течение всего рабочего времени медицинской организации, предоставляющей платные медицинские услуги.<br>
<br>
            19.При заключении договора потребителю и (или) заказчику должна предоставляться в доступной форме информация о платных медицинских услугах, содержащая следующие сведения:<br>
<br>
            а)порядок оказания медицинской помощи и стандарты медицинской помощи (при наличии), применяемые при предоставлении платных медицинских услуг, а также информация о возможности осуществления отдельных консультаций или медицинских вмешательств, в том числе в объеме, превышающем объем выполняемого стандарта медицинской помощи;<br>
<br>
            б)информация о медицинском работнике, отвечающем за предоставление соответствующей платной медицинской услуги (его профессиональном образовании и квалификации);<br>
<br>
            в)другие сведения, относящиеся к предмету договора.<br>
<br>
            20.В договоре должна содержаться информация об уведомлении потребителя и (или) заказчика о том, что граждане, находящиеся на лечении, в соответствии с Федеральным
            <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=444218#l0">законом</a> "Об основах охраны здоровья граждан в Российской Федерации" обязаны соблюдать режим лечения, в том числе определенный на период их временной нетрудоспособности, и правила поведения пациента в медицинских организациях.<br>
<br>
            21.Исполнитель доводит до потребителя и (или) заказчика информацию о форме и способах направления обращений (жалоб) в органы государственной власти и организации, а также сообщает почтовый адрес или адрес электронной почты (при наличии), на которые может быть направлено обращение (жалоба).<br>
<br>
            В случае если такая информация исполнителем не предоставлена, потребитель и (или) заказчик вправе направить обращение (жалобу) в любой форме и любым способом.<br>
<br>
            При предъявлении потребителем и (или) заказчиком требований, в том числе при обнаружении
            недостатков выполненной работы (оказанной медицинской услуги), исполнитель рассматривает
            и удовлетворяет заявленные требования (направляет отказ в удовлетворении заявленных
            требований) в сроки, установленные для удовлетворения требований потребителя <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=437678#l2">Законом</a> Российской Федерации "О защите прав потребителей".<br>
<br>
            IV. Порядок заключения договора и оплаты медицинских услуг<br>
            22.Договор заключается потребителем и (или) заказчиком с исполнителем в письменной форме.<br>
<br>
            23.Договор должен содержать следующую информацию:<br>
<br>
            а)сведения об исполнителе:<br>
<br>
            наименование и фирменное наименование (при наличии) медицинской организации - юридического лица, адрес юридического лица в пределах его места нахождения, основной государственный регистрационный номер и идентификационный номер налогоплательщика;<br>
<br>
            фамилия, имя и отчество (при наличии) индивидуального предпринимателя, его место жительства, адрес места осуществления медицинской деятельности, основной государственный регистрационный номер;<br>
<br>
            сведения о лицензии на осуществление медицинской деятельности, информация о лицензии на осуществление
            медицинской деятельности, ее номере, сроках действия, а также информация об органе,
            выдавшем лицензию, <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=432422#l118">перечень</a> предоставляемых работ (услуг), составляющих медицинскую деятельность, в соответствии с лицензией;<br>
<br>
            б)сведения о потребителе (при оказании платных медицинских услуг гражданину анонимно сведения фиксируются со слов потребителя услуги):<br>
<br>
            фамилия, имя и отчество (при наличии), адрес места жительства, иные адреса, на которые (при их указании в договоре) исполнитель может направлять ответы на письменные обращения, и телефон;<br>
<br>
            данные документа, удостоверяющего личность;<br>
<br>
            в)сведения о законном представителе потребителя или лице, заключающем договор от имени потребителя:<br>
<br>
            фамилия, имя и отчество (при наличии), адрес места жительства и телефон;<br>
<br>
            данные документа, удостоверяющего личность;<br>
<br>
            г)сведения о заказчике (в том числе если заказчик и законный представитель являются одним лицом):<br>
<br>
            фамилия, имя и отчество (при наличии), адрес места жительства и телефон заказчика - физического лица;<br>
<br>
            данные документа, удостоверяющего личность заказчика;<br>
<br>
            данные документа, удостоверяющего личность законного представителя потребителя;<br>
<br>
            наименование и адрес заказчика - юридического лица в пределах его места нахождения, основной государственный регистрационный номер и идентификационный номер налогоплательщика;<br>
<br>
            д)перечень платных медицинских услуг, предоставляемых в соответствии с договором;<br>
<br>
            е)стоимость платных медицинских услуг, сроки и порядок их оплаты;<br>
<br>
            ж)условия и сроки ожидания платных медицинских услуг;<br>
<br>
            з)сведения о лице, заключающем договор от имени исполнителя:<br>
<br>
            фамилия, имя, отчество (при наличии);<br>
<br>
            должность;<br>
<br>
            документ, подтверждающий полномочия указанного лица;<br>
<br>
            и)подписи исполнителя и потребителя (заказчика), а в случае если заказчик является юридическим лицом, - должность лица, заключающего договор от имени заказчика;<br>
<br>
            к)ответственность сторон за невыполнение условий договора;<br>
<br>
            л)порядок изменения и расторжения договора;<br>
<br>
            м)порядок и условия выдачи потребителю (законному представителю потребителя) после исполнения договора исполнителем медицинских документов (копии медицинских документов, выписки из медицинских документов), отражающих состояние его здоровья после получения платных медицинских услуг, включая сведения о результатах обследования, диагнозе, методах лечения, об используемых при предоставлении платных медицинских услуг лекарственных препаратах и медицинских изделиях, без взимания дополнительной платы;<br>
<br>
            н)иные условия, определяемые по соглашению сторон.<br>
<br>
            24.До заключения договора исполнитель в письменной форме уведомляет потребителя (заказчика) о том, что несоблюдение указаний (рекомендаций) исполнителя (медицинского работника, предоставляющего платную медицинскую услугу), в том числе назначенного режима лечения, может снизить качество предоставляемой платной медицинской услуги, повлечь за собой невозможность ее завершения в срок или отрицательно сказаться на состоянии здоровья потребителя.<br>
<br>
            25.Договор составляется в 3 экземплярах, один из которых находится у исполнителя, второй - у заказчика, третий - у потребителя.<br>
<br>
            В случае если договор заключается потребителем и исполнителем, он составляется в 2 экземплярах (кроме случаев заключения договора дистанционным способом).<br>
<br>
            Договор хранится в порядке, определенном законодательством Российской Федерации об архивном деле в Российской Федерации.<br>
<br>
            26.На предоставление платных медицинских услуг может быть составлена смета. Ее составление по требованию потребителя и (или) заказчика или исполнителя является обязательным, при этом она является неотъемлемой частью договора.<br>
<br>
            27.В случае если при предоставлении платных медицинских услуг требуется предоставление на возмездной основе дополнительных медицинских услуг, не предусмотренных договором, исполнитель обязан предупредить об этом потребителя и (или) заказчика.<br>
<br>
            Без оформления дополнительного соглашения к договору либо нового договора с указанием конкретных дополнительных медицинских услуг и их стоимости исполнитель не вправе предоставлять медицинские услуги на возмездной основе, если иное не оговорено в основном договоре.<br>
<br>
            28.При предоставлении платных медицинских услуг расходы, связанные с оказанием гражданам медицинской
            помощи в экстренной форме, возмещаются медицинским организациям в порядке и размерах, которые
            установлены органами государственной власти субъектов Российской Федерации в рамках территориальных
            программ в соответствии с <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=444218#l418">пунктом 10</a> части 2 статьи 81 Федерального закона "Об основах охраны здоровья граждан в Российской Федерации".<br>
<br>
            29.В случае отказа потребителя после заключения договора от получения медицинских услуг договор расторгается, при этом потребитель и (или) заказчик оплачивают исполнителю фактически понесенные исполнителем расходы, связанные с исполнением обязательств по договору.<br>
<br>
            30.Потребитель и (или) заказчик обязаны оплатить оказанную исполнителем медицинскую услугу (выполненную работу) в порядке и сроки, которые установлены договором.<br>
<br>
            31.Потребителю и (или) заказчику в случаях, установленных законодательством Российской Федерации о применении контрольно-кассовой техники, выдается документ, подтверждающий произведенную оплату предоставленных медицинских услуг (кассовый чек или бланк строгой отчетности).<br>
<br>
            32.Медицинская организация выдает иной документ, подтверждающий факт осуществления расчета, в случаях, если в соответствии с требованиями законодательства Российской Федерации о применении контрольно-кассовой техники у медицинской организации отсутствует обязанность по применению контрольно-кассовой техники при осуществлении расчетов.<br>
<br>
            33.В целях защиты прав потребителя медицинская организация по обращению потребителя выдает следующие документы, подтверждающие фактические расходы потребителя и (или) заказчика на оказанные медицинские услуги и (или) приобретение лекарственных препаратов для медицинского применения:<br>
<br>
            а)копия договора с приложениями и дополнительными соглашениями к нему (в случае заключения);<br>
<br>
            б)справка об оплате медицинских услуг по установленной форме;<br>
<br>
            в)рецептурный бланк с проставленным штампом "Для налоговых органов Российской Федерации, идентификационный номер налогоплательщика", заверенный подписью и личной печатью врача, печатью медицинской организации;<br>
<br>
            г)документы установленного образца, подтверждающие оплату лекарственных препаратов (кассовый чек, бланк строгой отчетности или иной документ, подтверждающий факт осуществления расчета, в случаях, если в соответствии с требованиями законодательства Российской Федерации о применении контрольно-кассовой техники у медицинской организации отсутствует обязанность по применению контрольно-кассовой техники при осуществлении расчетов).<br>
<br>
            34.Заключение договора и оплата медицинских услуг заказчиком в случаях, если заказчик выступает страховщиком по добровольному медицинскому страхованию потребителя, осуществляются в порядке, предусмотренном настоящим разделом.<br>
<br>
            V. Порядок предоставления платных медицинских услуг<br>
            35.Исполнитель предоставляет платные медицинские услуги, качество которых должно соответствовать условиям договора, а при отсутствии в договоре условий об их качестве - требованиям, предъявляемым к таким услугам.<br>
<br>
            В случае если федеральным законом или иными нормативными правовыми актами Российской Федерации предусмотрены обязательные требования к качеству медицинских услуг, качество предоставляемых платных медицинских услуг должно соответствовать этим требованиям.<br>
<br>
            36.Платные медицинские услуги предоставляются при наличии информированного добровольного согласия потребителя (законного представителя потребителя), данного в порядке, установленном законодательством Российской Федерации об охране здоровья граждан.<br>
<br>
            37.Исполнитель обязан при предоставлении платных медицинских услуг соблюдать установленные законодательством Российской Федерации требования к оформлению и ведению медицинской документации, учетных и отчетных статистических форм, порядку и срокам их представления.<br>
<br>
            38.Исполнитель предоставляет потребителю (законному представителю потребителя) по его требованию и в доступной для него форме информацию:<br>
<br>
            а)о состоянии его здоровья, включая сведения о результатах обследования, диагнозе, методах лечения, связанном с ними риске, возможных вариантах и последствиях медицинского вмешательства, ожидаемых результатах лечения;<br>
<br>
            б)об используемых при предоставлении платных медицинских услуг лекарственных препаратах и медицинских изделиях, в том числе о сроках их годности (гарантийных сроках), показаниях (противопоказаниях) к применению, а также сведения, позволяющие идентифицировать имплантированное в организм человека медицинское изделие.<br>
<br>
            39.При предоставлении платных медицинских услуг гражданам иностранных государств (нерезидентам) исполнитель обеспечивает передачу сведений об осуществлении медицинской деятельности в отношении нерезидентов в соответствии с указаниями Центрального банка Российской Федерации.<br>
<br>
            За непредоставление в установленном порядке субъектам официального статистического учета первичных статистических данных по установленным формам федерального статистического наблюдения об оказанных платных медицинских услугах гражданам иностранных государств исполнитель, включенный Центральным банком Российской Федерации в перечень респондентов, несет ответственность, предусмотренную законодательством Российской Федерации.<br>
<br>
            40.При оказании платных медицинских услуг обязанность исполнителя по возврату денежной суммы,
            уплаченной потребителем и (или) заказчиком по договору, возникает в соответствии с <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=437678#l220">главой III</a>
            Закона Российской Федерации "О защите прав потребителей".<br>
<br>
            41.Оплата медицинской услуги потребителем и (или) заказчиком путем перевода средств на счет третьего лица,
            указанного исполнителем (в письменной форме), не освобождает исполнителя от обязанности
            осуществить возврат уплаченной потребителем и (или) заказчиком суммы как при отказе от исполнения договора,
            так и при оказании медицинских услуг (выполнении работ) ненадлежащего качества, в соответствии
            с <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=437678#l2">Законом</a> Российской Федерации "О защите прав потребителей".<br>
<br>
            VI. Особенности оказания медицинских услуг (выполнения работ) при заключении договора дистанционным способом<br>
            42.Договор может быть заключен посредством использования сети "Интернет" (при наличии у исполнителя сайта) на основании ознакомления потребителя и (или) заказчика с предложенным исполнителем описанием медицинской услуги (дистанционный способ заключения договора).<br>
<br>
            43.При заключении договора дистанционным способом потребителю должна быть предоставлена возможность ознакомиться со следующей информацией:<br>
<br>
            а)наименование (фирменное наименование) медицинской организации либо фамилия, имя, отчество (при наличии) индивидуального предпринимателя;<br>
<br>
            б)основной государственный регистрационный номер исполнителя;<br>
<br>
            в)номера телефонов и режим работы исполнителя;<br>
<br>
            г)идентификационный номер налогоплательщика;<br>
<br>
            д)информация об оказываемой услуге (выполняемой работе), предусмотренная <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=437678#l59">статьей 10</a> Закона Российской Федерации "О защите прав потребителей";<br>
<br>
            е)способы оплаты услуги (работы);<br>
<br>
            ж)сведения о лицензии на осуществление медицинской деятельности (номер лицензии, сроки ее действия, а также информация об органе, выдавшем указанную лицензию);<br>
<br>
            з)адреса, в том числе адреса электронной почты, по которым принимаются обращения (жалобы) и требования потребителей и (или) заказчиков.<br>
<br>
            44.Указанная в пункте 43 настоящих Правил информация или ссылка на нее размещается на главной странице сайта исполнителя в сети "Интернет" (при наличии у исполнителя такого сайта).<br>
<br>
            45.Договор с потребителем и (или) заказчиком считается заключенным со дня оформления потребителем и
            (или) заказчиком соответствующего согласия (акцепта), в том числе путем совершения действий
            по выполнению условий договора, включая внесение частично или полностью оплаты по договору с
            учетом положений статей <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=437678#l920">16.1</a>
            и <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=437678#l824">37</a> Закона Российской Федерации "О защите прав потребителей".<br>
<br>
            Со дня получения согласия (акцепта) и осуществления потребителем и (или) заказчиком частичной или полной
            оплаты по нему все условия договора остаются неизменными и не должны
            корректироваться исполнителем без согласия потребителя и (или) заказчика.<br>
<br>
            46.При заключении договора исполнитель представляет потребителю и (или) заказчику подтверждение заключения такого договора. Указанное подтверждение должно содержать номер договора или иной способ идентификации договора, который позволяет потребителю и (или) заказчику получить информацию о заключенном договоре и его условиях.<br>
<br>
            По требованию потребителя и (или) заказчика исполнителем направляется потребителю и (или) заказчику экземпляр заключенного договора (выписки из него), подписанного усиленной квалифицированной электронной подписью уполномоченного лица исполнителя.<br>
<br>
            47.Идентификация потребителя и (или) заказчика в целях заключения и (или) исполнения договора, заключенного дистанционным способом, может осуществляться в том числе с помощью федеральной государственной информационной системы "Единая система идентификации и аутентификации в инфраструктуре, обеспечивающей информационно-технологическое взаимодействие информационных систем, используемых для предоставления государственных и муниципальных услуг в электронной форме".<br>
<br>
            Согласие (акцепт) должно быть подписано электронной подписью потребителя и (или) заказчика (простой, усиленной неквалифицированной или усиленной квалифицированной) и усиленной квалифицированной электронной подписью уполномоченного лица исполнителя.<br>
<br>
            48.Потребитель и (или) заказчик обязаны оплатить оказанную исполнителем медицинскую услугу в порядке
            и сроки, которые установлены договором, заключенным с исполнителем, с учетом положений статей
            <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=437678#l920">16.1</a> и
            <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=437678#l824">37</a> Закона Российской Федерации "О защите прав потребителей".<br>
<br>
            49.При заключении договора дистанционным способом отказ потребителя и (или) заказчика от исполнения договора может быть совершен способом, используемым при его заключении.<br>
<br>
            50.Потребитель и (или) заказчик могут направить исполнителю в любой форме и любым, включая дистанционный, способом требования, в том числе при обнаружении недостатков выполненной работы (оказанной платной медицинской услуги), а исполнитель обязан принять эти требования, в том числе дистанционным способом.<br>
<br>
            VII. Ответственность исполнителя при предоставлении платных медицинских услуг<br>
            51.За неисполнение либо ненадлежащее исполнение обязательств по договору исполнитель несет ответственность, предусмотренную законодательством Российской Федерации.<br>
<br>
            52.Вред, причиненный жизни или здоровью пациента в результате оказания платных медицинских услуг ненадлежащего качества, подлежит возмещению исполнителем в соответствии с законодательством Российской Федерации.<br>
            <p><br>
            УТВЕРЖДЕНЫ<br>
            постановлением Правительства<br>
            Российской Федерации<br>
            от 11 мая 2023 г. N 736<br>
            </p><br>
            <hr><br>
            1.Абзац первый <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=231834#l28">пункта 12</a> Положения о независимой военно-врачебной экспертизе, утвержденного постановлением Правительства Российской Федерации от 28 июля 2008 г. N 574 "Об утверждении Положения о независимой военно-врачебной экспертизе" (Собрание законодательства Российской Федерации, 2008, N 31, ст. 3744; 2013, N 28, ст. 3831), изложить в следующей редакции:<br>
<br>
            "12.Расходы, связанные с производством независимой экспертизы, оплачиваются в соответствии с договором
            в порядке и на условиях, которые установлены в соответствии с
            <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=444218#l442">частью 7</a> статьи 84 Федерального закона "Об основах охраны здоровья граждан в Российской Федерации"
            Правительством Российской Федерации.".<br>
<br>
            2.В перечне видов государственного контроля (надзора), в рамках которых обеспечиваются признание
            утратившими силу, не действующими на территории Российской Федерации
            и отмена нормативных правовых актов Правительства Российской Федерации,
            федеральных органов исполнительной власти, правовых актов исполнительных и распорядительных
            органов государственной власти РСФСР и Союза ССР, содержащих обязательные требования, соблюдение которых
            оценивается при осуществлении государственного контроля (надзора), утвержденном распоряжением Правительства
            Российской Федерации от 15 декабря 2020 г. N 3340-р (Собрание законодательства Российской Федерации,
            2020, N 52, ст. 8906; 2022, N 1, ст. 163), <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=424596#l620">сноску четвертую</a> изложить в следующей редакции:<br>
<br>
            "&lt;****&gt; В отношении федерального государственного контроля (надзора) качества и безопасности медицинской
            деятельности не производится признание утратившими силу постановления
            Правительства Российской Федерации <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=231834#l0">от 28 июля 2008 г. N 574</a> "Об утверждении Положения о независимой
            военно-врачебной экспертизе" и постановления Правительства Российской Федерации <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=446836#l0">от 4 июля 2013 г. N 565</a>
            "Об утверждении Положения о военно-врачебной экспертизе".".<br>
<br>
            3.Пункты <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=445616#l234">203</a>,
            <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=445616#l240">208</a>,
            <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=445616#l376">341</a> и
            <a href="https://normativ.kontur.ru/document?moduleId=1&amp;documentId=445616#l610">577</a> перечня
            нормативных правовых актов и групп нормативных правовых актов Правительства Российской Федерации,
            нормативных правовых актов, отдельных положений нормативных правовых актов и групп нормативных
            правовых актов федеральных органов исполнительной власти, правовых актов, отдельных положений
            правовых актов, групп правовых актов исполнительных и распорядительных органов государственной
            власти РСФСР и Союза ССР, решений Государственной комиссии по радиочастотам, содержащих обязательные
            требования, в отношении которых не применяются положения частей 1, 2 и 3 статьи 15 Федерального закона
            "Об обязательных требованиях в Российской Федерации", утвержденного постановлением Правительства Российской
            Федерации от 31 декабря 2020 г. N 2467 "Об утверждении перечня нормативных правовых актов и групп
            нормативных правовых актов Правительства Российской Федерации, нормативных правовых актов, отдельных
            положений нормативных правовых актов и групп нормативных правовых актов федеральных органов исполнительной
            власти, правовых актов, отдельных положений правовых актов, групп правовых актов исполнительных и
            распорядительных органов государственной власти РСФСР и Союза ССР, решений Государственной комиссии
            по радиочастотам, содержащих обязательные требования, в отношении которых не применяются положения
            частей 1, 2 и 3 статьи 15 Федерального закона "Об обязательных требованиях в Российской Федерации"
            (Собрание законодательства Российской Федерации, 2021, N 2, ст. 471), исключить.<br>
        </div>
    </div>
</section>

{% endblock %}