.privacy-container {
    max-width: 90%;
    margin: 40px auto;
    padding: 0 20px;
    color: #333;
    line-height: 1.6;
    font-size: 20px;
}

.privacy-container h1 {
    font-size: 26px;
    color: #E787B5;
    margin-bottom: 2px;
    text-align: center;
}

.rules a {
    color: #ED97B3;
    text-decoration: none;
}

b {
    font-weight: bolder;
}

.rules p {
    text-align: right;
}

@media(max-width: 768px) {
    .privacy-container {
        font-size: 16px;
    }

    .privacy-container h1 {
        font-size: 20px;
    }
}