{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация | Салон красоты</title>
    <link type="text/css" href="{% static 'siteProlab/css/reg_log.css' %}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="center-container">
        <div class="auth-container">
            <h2>Регистрация</h2>
            <form method="post">
                {% csrf_token %}

                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                {% endfor %}

                <div class="form-group checkbox-group">
                    <input type="checkbox" id="privacy_policy" name="privacy_policy" required>
                    <label for="privacy_policy">Я согласен с <a href="{% url 'soglasie' %}" target="_blank">политикой конфиденциальности</a></label>
                </div>

                <button type="submit" class="btn-submit">Зарегистрироваться</button>
            </form>
            <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
        </div>
    </div>
</body>
</html>